#hero{
  padding: 0 64px;
  background-size: cover;
  min-height: min(100vw, 100vh);

  @media (max-width: 500px) {
    padding: 0 32px;
  }
}

.header{
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  *>{
    max-width: 100%;
  }

  h1{
    color: var(--primary-color);

    span{
      color: var(--secondary-color);
    }
  }

  h4{
    color: var(--secondary-color);
    font-weight: 600;
    max-width: 540px;
    line-height: 150%;
  }

  img{
    height: auto;
  }

  div{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.tree{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 64px 0;
}