#about{
  position: relative;
  background: var(--primary-color);
  padding: 96px 64px;
  display: flex;
  flex-direction: column;
  color: var(--white-color);
  gap: 32px;
  box-sizing: border-box;

  .textContainer{
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    max-width: 280px;
    border-left: 3px solid var(--secondary-color);
    h5:nth-child(1){
      font-weight: 600;
    }
  }

  h1{
    max-width: 860px;

    span{
      color: var(--secondary-color);
    }
  }
}

.desktopAbout{
  .secondTextContainer{
      margin-left: 100px;
      max-width: min(470px, 30%);
  }

  .buttonContainer{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: absolute;
    right: 64px;
    bottom: 128px;

    div{
      display: flex;
      align-items: flex-end;
      gap: 16px;
      width: 100%;
    }

    div:nth-child(2){
      width: fit-content;
      align-items: flex-start;
    }

    button{
      display: flex;
      width: 276px;
      height: 276px;
      justify-content: center;
      align-items: center;
      font-size: 64px;
    }
  }

  .singing{
    height: 128px!important;
  }

  .programming{
    height: 128px!important;
  }

  .next{
    height: 82px!important;
    width: 82px!important;
    font-size: 32px!important;
  }
}

.mobileAbout{
  >div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .texts{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .secondTextContainer{
    margin-left: 100px;
  }

  .buttonContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    button{
      display: flex;
      width: 94px;
      height: 94px;
      justify-content: center;
      align-items: center;
      font-size: 40px;
    }
  }

  @media (max-width: 768px) {
    .secondTextContainer{
      margin-left: 48px;
    }
  }
  
  @media (max-width: 600px) {
    .buttonContainer{
      flex-direction: row;
      button{
        width: 64px;
        height: 64px;
        font-size: 32px;
      }
    }
    .secondTextContainer{
      margin-left: 0;
    }
  }

  @media (max-width: 500px) {
    padding: 32px 32px!important;
  }
}