.navbar{
    display: flex;
    max-width: 100%;
    padding: 32px 64px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    a{
        color: var(--primary-color);
        font-weight: 600;
        width: 128px;
        text-align: center;
    }
    span{
        display: flex;
        justify-content: space-between;
        max-width: 280px;
    }
    a:last-of-type{
        text-align: right;
    }
    a:first-of-type{
        text-align: left;
    }
}

@media (max-width: 700px) {
    .navbar{
        padding: 32px 32px;
        a{
            width: 64px;
        }
    }
}