@font-face {
  font-family: 'Lora';
  src: local('Lora'), url(./fonts/Lora.ttf) format('truetype')
}

@font-face {
  font-family: 'Figtree';
  src: local('Figtree'), url(./fonts/Figtree.ttf) format('truetype')
}

:root {
  --primary-color: #27AAF3;
  --secondary-color: #455AE4;
  --accent-color: #46E9EA;
  --white-color: #fff;
  --black-color: #000;
  --hard-shadow: 8px 8px 0 0 #AFE3FF;
  --tablet-size: 768px;
  --phone-size: 400px;
}

body {
  margin: 0;
  line-height: 120%;
  font-family: Figtree, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, p, small{
  line-height: 120%;
  margin: 0;
  padding: 0;
}

h1{
  font-family: Lora, serif;
  font-size: 67px;
  font-weight: 600;
  @media (max-width: 400px) {
    font-size: 40px;
  }
}

h2{
  font-family: Lora, serif;
  font-size: 51px;
  font-weight: 600;
  @media (max-width: 400px) {
    font-size: 33px;
  }
}

h3{
  font-weight: 600;
  font-size: 38px;
  @media (max-width: 400px) {
    font-size: 28px;
  }
}

h4{
  font-size: 28px;
  @media (max-width: 400px) {
    font-size: 24px;
  }
}

h5{
  font-size: 21px;
  @media (max-width: 400px) {
    font-size: 19px;
  }
}

p{
  font-size: 16px;
}

small{
  font-size: 12px;
  @media (max-width: 400px) {
    font-size: 13px;
  }
}

button{
  all: unset;
  &:focus{
    outline: revert;
  }
}

@mixin grid() {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0;
  padding: 0 64px;
  @media (max-width: 768px){
    grid-template-columns: repeat(6, 1fr);
  }
  @media (max-width: 400px) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 8px;
    padding: 0 32px;
  }
}